stages:
  - publish

publish:
  stage: publish
  image: node:latest
  cache:
    paths:
      - node_modules/
  artifacts:
    paths:
      - dist
  before_script:
    - npm install
    - npm install -g typescript
  script:
    - |
      {
        echo "@pony-cool:registry=${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/npm/"
        echo "//${CI_SERVER_HOST}/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}"
      } | tee -a .npmrc
    # 发布到GitLab仓库上
    - npm publish
    # 设置npm官方仓库地址和令牌
    - rm -rf .npmrc
    - npm config set registry https://registry.npmjs.org/
    - npm config set -- '//registry.npmjs.org/:_authToken' "${NPM_TOKEN}"
    # 发布到npm官方仓库上
    - npm publish --access public
  only:
    - tags