stages:
  - publish

publish:
  stage: publish
  image: node:latest
  script:
    - echo "@pony-cool:registry=${CI_SERVER_HOST}/api/v4/projects/${CI_PROJECT_ID}/packages/npm/">.npmrc
    - echo "//${CI_SERVER_HOST}/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}" >>.npmrc
    - cat .npmrc
    - npm publish